@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap");
:root {
		--white: #FFF;
		--black: #000;
		--primary: #ACD9B2;
		--secondary: #232830;
		--medium: #C7C7C7;
		--light: #F7F7F7;
}

.border {
		border: 1px solid var(--primary);
}

.text-left {
		text-align: left !important;
}

.text-right {
		text-align: right !important;
}

.text-center {
		text-align: center !important;
}

.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		width: 100%;
		height: 100vh;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.container > img {
		display: block;
		width: 200px;
		height: auto;
		margin: 0 auto;
		margin-bottom: 24px;
}
@media (min-width: 768px) {
		.container > img {
				display: none;
		}
}
@media (min-width: 768px) {
		.container {
				max-width: 350px;
		}
}

.icon-rounded {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-color: var(--light);
		margin: 24px 0 16px;
}
.icon-rounded span {
		width: 60%;
		height: 60%;
}

.flex-img {
		max-width: 100%;
		height: auto;
		display: block;
}

.d-none {
		display: none !important;
}
@media (min-width: 768px) {
		.d-none-md {
				display: none !important;
		}
}
@media (min-width: 992px) {
		.d-none-lg {
				display: none !important;
		}
}

@media (min-width: 375px) and (max-width: 576px) {
		.d-sm {
				display: -webkit-box !important;
				display: -ms-flexbox !important;
				display: flex !important;
		}
}

@media (min-width: 768px) {
		.d-md {
				display: -webkit-box !important;
				display: -ms-flexbox !important;
				display: flex !important;
		}
}

@media (min-width: 992px) {
		.d-lg {
				display: -webkit-box !important;
				display: -ms-flexbox !important;
				display: flex !important;
		}
}

.main-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
}

.cards-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		gap: 16px;
}

.card-info-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
}

.card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
		width: 250px;
		height: 350px;
}
.card-wrapper {
		display: inline-block;
		width: 250px;
		height: 250px;
		overflow: hidden;
		border-radius: 20px;
		background-color: red;
		margin: 0 auto;
}
.card-wrapper-img {
		max-width: 100%;
		min-height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
}
.card-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.card-info-price {
		text-align: left;
		-o-object-fit: cover;
		   object-fit: cover;
}
.card-info-price {
		font-size: 16px;
}
.card-info-description {
		color: var(--medium);
}
.card-addcart {
		display: inline-block;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		-webkit-box-shadow: 2px 2px 4px var(--primary);
		        box-shadow: 2px 2px 4px var(--primary);
}
@media (min-width: 375px) and (max-width: 576px) {
		.card-addcart {
				width: 36px;
				height: 36px;
		}
}
@media (min-width: 768px) {
		.card-addcart {
				width: 42px;
				height: 42px;
		}
}
.card-addcart-btn {
		content: "";
		display: inline-block;
		min-width: 100%;
		min-height: 100%;
		background: url(../assets/icons/bt_add_to_cart.svg) no-repeat center;
		background-size: cover;
		cursor: pointer;
}
.card-addcart-btn:active, .card-addcart-btn:visited {
		background: url(../assets/icons/bt_added_to_cart.svg) no-repeat center;
		-webkit-transform: all 1s ease-in;
		        transform: all 1s ease-in;
}

@media (min-width: 375px) and (max-width: 576px) {
		.card {
				-webkit-box-flex: 0;
				    -ms-flex-positive: 0;
				        flex-grow: 0;
				width: 160px;
				height: 230px;
		}
		.card-wrapper {
				width: 160px;
				height: 160px;
		}
}
@media (min-width: 768px) {
		.card {
				width: 200px;
				height: 280px;
		}
		.card-wrapper {
				width: 200px;
				height: 200px;
		}
}
@media (min-width: 992px) {
		.cards-container {
				max-width: 996px;
		}
		.card {
				-webkit-box-flex: 0;
				    -ms-flex-positive: 0;
				        flex-grow: 0;
				width: 220px;
				height: 320px;
		}
		.card-wrapper {
				width: 220px;
				height: 220px;
		}
}
@media (min-width: 1200px) {
		.cards-container {
				max-width: 1200px;
		}
}