@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap");
:root {
		--white: #FFF;
		--black: #000;
		--primary: #ACD9B2;
		--secondary: #232830;
		--medium: #C7C7C7;
		--light: #F7F7F7;
}

.border {
		border: 1px solid var(--primary);
}

.text-left {
		text-align: left !important;
}

.text-right {
		text-align: right !important;
}

.text-center {
		text-align: center !important;
}

.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		width: 100%;
		height: 100vh;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.container > img {
		display: block;
		width: 200px;
		height: auto;
		margin: 0 auto;
		margin-bottom: 24px;
}
@media (min-width: 768px) {
		.container > img {
				display: none;
		}
}
@media (min-width: 768px) {
		.container {
				max-width: 350px;
		}
}

.icon-rounded {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-color: var(--light);
		margin: 24px 0 16px;
}
.icon-rounded span {
		width: 60%;
		height: 60%;
}

.flex-img {
		max-width: 100%;
		height: auto;
		display: block;
}

.d-none {
		display: none !important;
}
@media (min-width: 768px) {
		.d-none-md {
				display: none !important;
		}
}
@media (min-width: 992px) {
		.d-none-lg {
				display: none !important;
		}
}

@media (min-width: 375px) and (max-width: 576px) {
		.d-sm {
				display: -webkit-box !important;
				display: -ms-flexbox !important;
				display: flex !important;
		}
}

@media (min-width: 768px) {
		.d-md {
				display: -webkit-box !important;
				display: -ms-flexbox !important;
				display: flex !important;
		}
}

@media (min-width: 992px) {
		.d-lg {
				display: -webkit-box !important;
				display: -ms-flexbox !important;
				display: flex !important;
		}
}

body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		width: 100%;
		padding: 16px;
}
@media (min-width: 768px) {
		body {
				width: 500px;
		}
}

h1 {
		text-align: left;
		margin-bottom: 60px;
}

.total {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 8px 16px;
		border-radius: 8px;
		margin-bottom: 16px;
}
.total-fr-1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
}
.total-articles {
		font-weight: 300;
		font-size: 14px;
		color: var(--medium);
}
.total-fecha, .total-cost {
		font-size: 16px;
		font-weight: bold;
}
.total-fr-2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 8px;
}
.total-fr-2 .icon-view {
		display: block;
		width: 16px;
		height: 16px;
}