
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap');

$font-1: 'Quicksand',
sans-serif;
$font-2: 'Roboto',
sans-serif;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$border: 1px solid var(--primary);

$box-shadow-sm: 0 0 6px var(--medium);


:root {
	--white: #FFF;
	--black: #000;
	--primary: #ACD9B2;
	--secondary: #232830;
	--medium: #C7C7C7;
	--light: #F7F7F7;
}

.border {
	border: 1px solid var(--primary);
}

.text-left{
	text-align: left !important;
}

.text-right{
	text-align: right !important;
}

.text-center{
	text-align: center !important;
}

.container{
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	height: auto;
	& > img{
		display: block;
		width: 200px;
		height: auto;
		margin: 0 auto;
		margin-bottom: 24px;
		@include md{
			display: none;
		}
	}
	
	@include xl {
		max-width: 1200px;
	}

}

.icon-rounded{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: var(--light);
	margin: 24px 0 16px;
	& span{
		width: 60%;
		height: 60%;
	}
}

.flex-img {
	max-width: 100%;
	height: auto;
	display: block;
  }

  .d-none{
	display: none !important;
	&-md{
		@include md{
			display: none !important;
		}
	}
	&-lg{
		@include lg{
			display: none !important;
		}
	}
	&-xl{
		@include xl{
			display: none !important;
		}
	}

}

.d-sm{
	@include sm{
		display: flex !important;
	}
}

.d-md{
	@include md{
		display: flex !important;
	}
}

.d-lg{
	@include lg{
		display: flex !important;
	}
}

.d-xl{
	@include xl{
		display: flex !important;
	}
}