body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: $font-1, sans-serif;
    color: var(--secondary);
    font-size: 16px;

}

h1, h2, h3, p{
    margin: 12px 0;
    padding: 0;
}

h1,
.title,
.title-low,
.title-body {
    font-family: $font-1, sans-serif;
    font-size: $font-lg;
    font-weight: 700;
    margin: 4px;
	text-align: center;
}

.title-low {
    text-align: center;
}

.title-body {
    font-weight: 400;
}

.price {
    font-family: $font-2, sans-serif;
    font-weight: 700;
    font-size: $font-lg;
    text-align: center;
}

h2,
.subtitle,
.subtitle-low,
.subtitle-body {
    font-family: $font-1, sans-serif;
    font-weight: 700;
    font-size: $font-md;
}

.subtitle {
    text-align: center;
}

.subtitle-low {
    font-weight: 500;
}

.subtitle-body {
    font-weight: 400;
    color: var(--medium);
}

h3,
.h3-body,
form,
label, p {
    font-family: $font-1, sans-serif;
    font-size: $font-sm;
    font-weight: 700;
}

.h3-body, form, p {
    font-weight: 400;
}

a{
    text-decoration: none;
}