.menu-mobile{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	width: 100%;
	height: 100vh;
	background: var(--white);
	padding: 80px 16px;
	box-sizing: border-box;
	position: fixed;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
	border:$border;
	z-index: 1;
	span{
		display: block;
		width: 20px;
		height: 20px;
		object-fit: contain;
		position: absolute;
		top: 72px;
		right: 24px;
	}
	p{
		margin-bottom: 24px;
	}
	ul{
		margin: 0;
		padding: 16px 0;
	}
	li{
		list-style: none;
		font-weight: 700;
		margin-bottom: 20px;
		a{
			color: var(--black);
			&:hover{
				color: var(--primary);
			}
		}	
	}
}
.categories, .account, .info{
	width: 100%;
}

.account{
	padding-top:36px !important;
	border-top: 1px solid var(--light) ;
}

.info{
	li{
	font-weight: 500;
	font-size: $font-sm;
	&:last-child a{
		color: var(--primary);
	}
	}
}