.menu-secondary-d{
	display: flex;
	flex-direction: column;
	width: 150px;
	height: auto;
	background: var(--white);
	padding: 20px;
	box-shadow: $box-shadow-sm;
	border-radius: 12px;
	position: fixed;
	z-index:1;
	align-self: flex-end;
	margin-top: 46px;
	margin-right: 56px;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
		font-weight: 700;
		text-align: right;
		margin-bottom: 32px;
		cursor: pointer;
		a{
			color: var(--black);
			&:hover{
				color: var(--primary);
			}
		}	
	}
	.account-d{
		border-top: none;
		padding-top: 16px;
	}
}

.account-d, .info{
	width: 100%;
}

.info{
	border-top: 1px solid var(--medium);
	li{
	font-size: $font-sm;
	margin: 0;
	margin-top: 16px;
		a{
			color: var(--primary) !important;
		}
	}
}