@import "aux.scss";

.sheet-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	background: var(--white);
	width: 100%;
	height: auto;
	box-sizing: border-box;
	box-shadow: $box-shadow-sm;
	position: fixed;
	top: 56px;
	z-index: 1;
	@include md{
		align-self: flex-end;
		width: 360px;
	}

	.sheet-closeBtn{
		position: absolute;
		right: 16px;
		top: 16px;
	}
	.sheet-img-wrap{
		width: 100%;
		overflow: hidden;
		border-radius: 0 0 32px 32px;
		margin: 0;
		padding: 0;
	}
	.sheet-info{
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		margin-top:20px;
		padding: 0 16px;
	
		&-price{
	
		}
		&-name{
	
		}
		&-description{
			margin-top: 16px;
		}
	}
	.addcart-btn{
		margin: 16px;
		margin-bottom: 32px;
	}
}

