extends _template.pug
block headers
	link(href="css/ficha.css" rel="stylesheet")
block body
	//- card-lg(img, price, product , description)
	+card-lg('assets/img/frigobar-retro.jpg', '120.00', 'Round Shelf', "With funtional and practical interior, this refrigerator also fulfills a decorative function, adding personality and a retro-vintage aesthetic to your kitchen or worplace.")