section.main-container
	.cards-container

		//- +card('assets/img/round-shelf.jpg', '120.00', 'Round Shelf')
		//- +card('assets/img/frigobar-retro.png', '250.00', 'Retro refrigerator')
		//- +card('assets/img/round-shelf.jpg', '120.00', 'Round Shelf')
		//- +card('assets/img/frigobar-retro.png', '250.00', 'Retro refrigerator')
		//- +card('assets/img/round-shelf.jpg', '120.00', 'Round Shelf')
		//- +card('assets/img/frigobar-retro.png', '250.00', 'Retro refrigerator')
		//- +card('assets/img/round-shelf.jpg', '120.00', 'Round Shelf')
		//- +card('assets/img/frigobar-retro.png', '250.00', 'Retro refrigerator')
		//- +card('assets/img/round-shelf.jpg', '120.00', 'Round Shelf')
		//- +card('assets/img/frigobar-retro.png', '250.00', 'Retro refrigerator')