extends _template.pug
block headers

block body
	.container
		include navbar.pug
		include menu-d.pug
		include menu.pug
		include My-order.pug
		include home.pug


block scripts
	script(src='js/main.js')