.menu-mobile.d-none
	span.icon-close.close-menu
	p.title CATEGORIES
	ul.categories
		li 
			a(href="#") All
		li 
			a(href="#") Clothes
		li 
			a(href="#") Electronics
		li 
			a(href="#") Furnitures
		li 
			a(href="#") Toys
		li 
			a(href="#") Other

	ul.account
		li 
			a(href="#") My Orders
		li 
			a(href="#") My account

	ul.info
		li  
			a(href="#") user@mail.com

		li  
			a(href="#") Log Out

