include _mixins.pug
.order-container.d-none
	h1 My order
	.total
		.total-fr-1
			.total-fecha 04-25-2023
			.total-articles 5 articles
		.total-fr-2
			.total-cost $560.00


	//- mixin card-order(img, description, price)
	+card-order('assets/img/frigobar-retro.jpg', 'Round Shelf', '120.00')
	+card-order('assets/img/frigobar-retro.jpg', 'Round Shelf', '120.00')
	+card-order('assets/img/frigobar-retro.jpg', 'Round Shelf', '120.00')
	+card-order('assets/img/frigobar-retro.jpg', 'Round Shelf', '120.00')
	+card-order('assets/img/frigobar-retro.jpg', 'Round Shelf', '120.00')
	+card-order('assets/img/frigobar-retro.jpg', 'Round Shelf', '120.00')
	a.btn.btn-primary.btn-lg(href="#") Checkout